<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<h1>Excel Test Page</h1>
    <button id="btnDownload">Click to download sample excel</button>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
       $('#btnDownload').on('click', function() {
          location.href = '/excel/export';
       });
    });
</script>
</html>